.formChooser {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--margin);
}

.formChooser input[type="radio"]::after {
  content: attr(name);
  text-align: center;
  text-transform: uppercase;
}

.formChooser input[type="radio"] {
  appearance: none;
  background-color: var(--color-fg);
  border-color: var(--color-fg);
  border-style: solid;
  border-radius: unset;
  border-width: calc(var(--margin) * 0.2);
  color: var(--color-bg);
  cursor: pointer;
  opacity: 0.3;
  padding: calc(var(--margin) * 0.2);
  text-align: center;
  width: 100%;
}

.formChooser input[type="radio"]:checked,
.formChooser input[type="radio"]:checked + label {
  cursor: auto;
  opacity: 1;
}

.formChooser input[type="radio"]:not(:checked):hover {
  opacity: 1;
}

.formChooser input[type="radio"] + label {
  display: none;
}